
#container {
    margin-top:100px;
}
  
#user-board {
    border-radius: 15px;
    background: whitesmoke;
    padding: 5px; 
    width: 700px;
    height: 400px; 
    display: inline-block;
    margin-right: 80px;
    margin-left: 150px;
    
   
}

#leader-board {
    border-radius: 15px;
    background: whitesmoke;
    padding: 5px; 
    width: 300px;
    height: 400px; 
    display: inline-block;
    margin-right: 80px;
}

#star-board {

    background:lightblue;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    margin-top: 90px;
    float: right;

}

#user-name {
    border-radius: 15px;
    background: lightblue;
    text-align: center;
    padding: 5px;
    width: 550px;
    height: 100px; 
}